services:
    app:
        build:
            context: ./app
        ports:
            - 3000:3000

    nginx:
        build:
            context: ./nginx
        ports:
            - '80:80'
        depends_on:
            - 'app'
        extra_hosts:
            - 'host.docker.internal:host-gateway'

    redis:
        build:
            context: ./redis
        ports:
            - '6379:6379'
        expose:
            - 6379
