services:
    node:
        build:
            context: ./app
        ports:
            - 3000:3000
        networks:
            - app-network

    nginx:
        build:
            context: ./nginx
        ports:
            - '80:80'
        depends_on:
            - 'node'
        networks:
            - app-network

    redis:
        image: arm64v8/redis
        ports:
            - 6379:6379
        expose:
            - 6379
        networks:
            - app-network

networks:
    app-network:
        driver: bridge
